#app{
    width:350px;
    margin:0 auto;
    height:530px;
    background:black;
    color:white;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.stockListContainer{
    padding: 5px;
    height:350px;
    overflow:scroll;
}
.stockdetails{
    padding:0px 10px;
    background-color:#1F1F1F;
    position:relative;
    top:-2px;
}

.stock-entry{
    height:30px;
    border-bottom: 1px solid #555555;
    padding: 10px;
}

.stock-entry .stock{
    float:left;
    padding: 5px;
}
.stock-entry .price{
    float:right;
    padding: 5px;
    padding-right:15px;
}
.stock-entry .positive,.stock-entry .negative{

    border-radius: 5px;
    padding:5px;
    float:right;
}

.positive{
    background-color: #8BC34A;
}

.negative{
    background-color: #e74c3c;
}

.selected{
    background-color:#4C4C4C;
}

.stockTitle{
    text-align: center;
    color:white;
    font-family:  Helvetica, Arial, 'Lucida Grande', sans-serif;
    border-bottom:1px solid grey;
    padding:8px 0px;
}

.stockTable{
    width:100%;
    margin-top:10px;
    border-collapse:collapse;
}

.stockTable tr{
    border-bottom: 1px solid #555555;
}

.stockTable tr:last-child{
    border-bottom: 1px solid grey;
}

.stockTable td{
    height:30px;
}

.stockTable tr td:nth-child(even){
    text-align:right;
    font-size:17px;
}

.stockTable tr td:nth-child(odd){
    color:grey;

    font-size:15px;
    font-family:  Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.stockTable tr td:nth-child(3){
    padding-left:12px;
}

body{
    /*   background-color: #333333; */
}